<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerometer</key>
	<dict>
		<key>name</key>
		<string>Accelerometer</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>calendar</key>
	<dict>
		<key>name</key>
		<string>Calendar</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>connection</key>
	<dict>
		<key>name</key>
		<string>Connection</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>contact</key>
	<dict>
		<key>name</key>
		<string>Contact</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>facebooktoken</key>
	<dict>
		<key>name</key>
		<string>Facebook</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>gyroscope</key>
	<dict>
		<key>name</key>
		<string>Gyroscope</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>magneticfield</key>
	<dict>
		<key>name</key>
		<string>MagneticField</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>mobileconnection</key>
	<dict>
		<key>name</key>
		<string>MobileConnection</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>motionactivity</key>
	<dict>
		<key>name</key>
		<string>MotionActivity</string>
		<key>authorization_status</key>
		<integer>2</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>position</key>
	<dict>
		<key>name</key>
		<string>Position</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>powerlevel</key>
	<dict>
		<key>name</key>
		<string>PowerLevel</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>powerstate</key>
	<dict>
		<key>name</key>
		<string>PowerState</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>tucancredentials</key>
	<dict>
		<key>name</key>
		<string>Tucan</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
	<key>wificonnection</key>
	<dict>
		<key>name</key>
		<string>WifiConnection</string>
		<key>authorization_status</key>
		<integer>0</integer>
		<key>last_collection</key>
		<date>1-12-31T23:06:32Z</date>
		<key>last_update</key>
		<date>1-12-31T23:06:32Z</date>
		<key>used_by_modules</key>
		<array/>
		<key>collection_interval</key>
		<array/>
		<key>update_interval</key>
		<array/>
		<key>accuracy</key>
		<array/>
		<key>permissions</key>
		<array/>
	</dict>
</dict>
</plist>
